<%- include header.ejs %>

<div class="confirm">
  <p></p>
  <input type="submit" value="Stäng">
</div>

<div class="cars">

  <h2>Bilar</h2>

  <div class="divTable">
    <div class="divTableBody">
      <div class="divTableHeading">
        <div class="divTableHead">Märke</div>
        <div class="divTableHead">Automat</div>
        <div class="divTableHead">Takräcke</div>
        <div class="divTableHead">Säten</div>
        <div class="divTableHead">Pris</div>
        <div class="divTableHead">Boka från</div>
        <div class="divTableHead">Boka till</div>
        <div class="divTableHead"></div>
      </div>

      <% for (var i = 0; i < allcars.length; i++) { %>

        <div class="divTableRow">
          <form data-edit="true" action="/bookings/<%= allcars[i]._id %>" method="delete" class="">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="car_id" value="<%= allcars[i]._id %>">
            <input type="hidden" name="user_id" value="<%= user_id %>">

            <div class="divTableCell">
              <span>
                <% if (allcars[i].typ == 'volvo') { %>Volvo<% } %>
                <% if (allcars[i].typ == 'saab') { %>Saab<% } %>
                <% if (allcars[i].typ == 'mercedes') { %>Mercedes<% } %>
                <% if (allcars[i].typ == 'audi') { %>Audi<% } %>
              </span>
            </div>
            <div class="divTableCell">
              <span>
                <% if (allcars[i].automat == false) { %>Nej<% } else { %>Ja<% } %>
              </span>
            </div>
            <div class="divTableCell">
              <span>
                <% if (allcars[i].rail == false) { %>Nej<% } else { %>Ja<% } %>
              </span>
            </div>
            <div class="divTableCell">
              <span>
                <%= allcars[i].seats %>
              </span>
            </div>
            <div class="divTableCell">
              <span><%= allcars[i].price %> kr/dag</span>
            </div>
            <div class="divTableCell">
              <input type="date" name="date_from" value="2017-01-23">
            </div>
            <div class="divTableCell">
              <input type="date" name="date_to" value="2017-02-15">
            </div>
            <div class="divTableCell">
              <input type="submit" value="Boka" data-url="/bookings" data-meth="POST">
            </div>

          </form>
        </div>

        <% } %>
      </div>

      <a href="/min-sida">Min sida</a>

    </div>

    <a href="/users/logout">Logout</a>

  </div>
  <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
