<%- include header.ejs %>

<div class="confirm">
  <p></p>
  <input type="submit" value="Stäng">
</div>

<div class="cars">

  <h2>Mina bokningar</h2>

  <div class="divTable">
    <div class="divTableBody">
      <div class="divTableHeading">
        <div class="divTableHead">Märke</div>
        <div class="divTableHead">Automat</div>
        <div class="divTableHead">Takräcke</div>
        <div class="divTableHead">Säten</div>
        <div class="divTableHead">Pris</div>
        <div class="divTableHead">Bokad från</div>
        <div class="divTableHead">Bokad till</div>
        <div class="divTableHead"></div>
      </div>

      <%

       for (var i = 0; i < userbooking.length; i++) {

        var dateFrom = moment(userbooking[i].res[0].date_from).format('YYYY-MM-DD');
        var dateTo = moment(userbooking[i].res[0].date_to).format('YYYY-MM-DD');

          %>

          <div class="divTableRow">
            <form data-edit="true" action="/bookings/<%= userbooking[i].res[0].car_id %>" method="post" class="green">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="car_id" value="<%= userbooking[i].res[0].car_id %>">
              <input type="hidden" name="user_id" value="<%= user_id %>">
              <input type="hidden" name="booking_id" value="<%= userbooking[i].res[0]._id %>">

              <div class="divTableCell">
                <span>
                  <% if (userbooking[i].typ == 'volvo') { %>Volvo<% } %>
                  <% if (userbooking[i].typ == 'saab') { %>Saab<% } %>
                  <% if (userbooking[i].typ == 'mercedes') { %>Mercedes<% } %>
                  <% if (userbooking[i].typ == 'audi') { %>Audi<% } %>
                </span>
              </div>
              <div class="divTableCell">
                <span>
                  <% if (userbooking[i].automat == false) { %>Nej<% } else { %>Ja<% } %>
                </span>
              </div>
              <div class="divTableCell">
                <span>
                  <% if (userbooking[i].rail == false) { %>Nej<% } else { %>Ja<% } %>
                </span>
              </div>
              <div class="divTableCell">
                <span>
                  <%= userbooking[i].seats %>
                </span>
              </div>
              <div class="divTableCell">
                <span><%= userbooking[i].price %> kr/dag</span>
              </div>
              <div class="divTableCell">
                <input type="date" name="date_from" value="<%= dateFrom %>" disabled>
              </div>
              <div class="divTableCell">
                <input type="date" name="date_to" value="<%= dateTo %>" disabled>
              </div>
              <div class="divTableCell">
                <input type="submit" value="Avboka" data-meth="DELETE">
              </div>

            </form>
          </div>
          <%
        } %>
      </div>
      <a href="/boka-bil">Boka bil</a>
    </div>
    <a href="/users/logout">Logout</a>
  </div>


  <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>

  <%- include footer.ejs %>
